/* nav */
.nav {
  justify-content: space-evenly;
  color: white;
  background-color: #3b3e41;
  padding: 10px;
}
.nav a:hover {
  color: white;
  text-decoration: none;
}
/* body */
body {
  width: 100%;
}
/* Card */
.card {
  width: 18rem;
}
.card-title {
  color: black;
}
.card-text {
  color: black;
}
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 50px;
  padding: 20px;
}

/* about */
.Me {
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
#name {
  text-align: center;
  margin: 20px 0px 7px;
  color: #fff;
  font-size: 27px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
#subheading {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.header-display {
  background-color: #282e34;
  padding: 10px;
}
/* body */
body,
html {
  height: 100%;
  margin: 0px;
  font-size: 16px;
  color: #666;
  line-height: 1.8em;
}
.img-1,
.img-2,
.img-3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img-1 {
  background-image: url("https://images.unsplash.com/photo-1523844203081-56a85e95590c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80");
  min-height: 350px;
}
.img-2 {
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80");
  min-height: 400px;
  width: 100%;
}
.img-3 {
  background-image: url("https://images.unsplash.com/photo-1546900703-cf06143d1239?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3782&q=80");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  /* background-color: lightgray; */
  background-color: #282e34;
  color: #f1f1f1;
  font-size: 20px;
  line-height: 1.5;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.p-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.p-text .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.p-text .border.trans {
  background-color: transparent;
}
/* form */
.col-md-8 {
  margin: auto;
}
.form-control {
  margin-bottom: 10px;
}
/* footer */
#footer-bar {
  padding: 10px;
  margin-bottom: 0%;
  background-color: #555;
}
.social-icon {
  height: 40px;
  width: 40px;
}
#social-bar {
  display: inline-block;
  margin-left: 550px;
}

#update-footer {
  text-align: center;
  padding-bottom: 15px;
  color: white;
}
#copyright {
  text-align: center;
  color: white;
}
@media only screen and (min-width: 300px) and (max-width: 699px) {
  .Me {
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
  }
  #resume {
    width: 280px;
    height: 400px;
    padding: 10px;
    position: relative;
  }
  #social-bar {
    /* display: inline-block;
    margin-left: 100px; */
    display: none;
  }
  .img-1 {
    background-image: url("https://images.unsplash.com/photo-1523844203081-56a85e95590c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80");
    min-height: 300px;
  }
  .img-2 {
    background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80");
    min-height: 300px;
    width: 100%;
  }
  .img-3 {
    background-image: url("https://images.unsplash.com/photo-1546900703-cf06143d1239?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3782&q=80");
    min-height: 300px;
  }
  .wrapper {
    display: inline-block;
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 50px;
    padding: 20px;
    /* margin-right: 60px; */
  }
  .section-dark {
    background-color: #282e34;
    color: #ddd;
    padding: 0px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  #social-bar {
    /* display: inline-block;
    margin-left: 290px; */
    display: none;
  }
  .Me {
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    height: 130px;
    width: 120px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 50px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1010px) {
  #social-bar {
    /* display: inline-block;
    margin-left: 800px; */
    display: none;
  }
  .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 50px;
    padding: 20px;
  }
}
